# CLion files
.idea/

# CMake files
cmake_install.cmake
CMakeCache.txt
fhetools.cbp
Makefile
cmake-build-debug/
CMakeFiles/

# Keys
cloud.key
secret.key

# Library
libfhetools.a

# Binaries
keygen
example_fibonacci_client
example_fibonacci_server
example_oddeven_client
example_oddeven_server
